<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h4 class="hidden-xs">Contact</h4>
            <ul class="list-unstyled">
               
                <li class="list-title hidden-xs">Email:</li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <span>support@veeunlock.com</span>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-12" data-aos="zoom-in"
                     data-aos-duration="2000">
                    <br class="hidden-lg hidden-md hidden-xs" />
                    <h4 class="hidden-xs">Browse</h4>
                    <ul class="list-unstyled">
                        <li class="list-title">Helpful Links</li>
                        <li>
                            <a href="index.html" title="Home">Home</a>
                        </li>
                        <li>
                            <a href="#" title="Price List">Price List</a>
                        </li>
                        <li>
                            <a href="index.html" title="Choose a country or region">Country or Region</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12" data-aos="zoom-in"
                     data-aos-duration="2000">
                    <h4 class="hidden-xs">&nbsp;</h4>
                    <ul class="list-unstyled">
                        <li class="list-title">Services</li>
                        <li>
                            <a href="#" title="Network Check" data-target="#network" data-toggle="modal" data-country="Pakistan">Network Check</a>
                        </li>
                        <li>
                            <a href="#" title="Unlock iPhone" data-target="#network" data-type="Phone Unlock" data-country="Pakistan">iPhone Unlock</a>
                        </li>
                        <li>
                            <a href="javascript:;" title="iCloud Unlock Activation">iCloud Activation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4 col-xs-12" data-aos="zoom-in"
                     data-aos-duration="2000">
                    <h4 class="hidden-xs">&nbsp;</h4>
                    <ul class="list-unstyled">
                        <li class="list-title">Support</li>
                        <li>
                            <a href="#" title="Search Support">Search Support</a>
                        </li>
                        <li>
                            <a href="#" title="Unlock iPhone">Order Tracking</a>
                        </li>
                        <li>
                            <a href="index.html" title="Frequently Asked Questions">Frequently Asked Questions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copy">
    <div class="container">


        <div class="row" style="display: flex;
						align-items: center;">
            <div class="col-md-3">
                <img src="~/images/white_logo.png" class="img-responsive">
            </div>
            <div class="col-md-9">
                <ul class="payment-methods list-unstyled list-inline">
                    <li>
                        <img src="~/images/visa.webp" alt="Visa" class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/mastercard-dark.webp" alt="Mastercard" class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/amex.webp" alt="AMEX" class="img-responsive" />
                    </li>
                    <li>
                        <img src="~/images/PayPal-Logo.webp" alt="Paypal" class="img-responsive" />
                    </li>
                </ul>
                <ul class="list-unstyled list-inline text-center" style="margin-bottom: 15px;"><li class="inner-country-reg">iPhone Approved Unlock operates in: </li><li class="inner-country-reg"><a href="index.html" title="United Kingdom">United Kingdom</a></li><li class="inner-country-reg"><a href="index.html" title="Canada">Canada</a></li><li class="inner-country-reg"><a href="index.html" title="United States">United States</a></li><li class="inner-country-reg"><a href="index.html" title="Ireland">Ireland</a></li><li class="inner-country-reg"><a href="index.html" title="Australia">Australia</a></li><li class="inner-country-reg"><a href="index.html" title="Philippines">Philippines</a></li><li class="inner-country-reg"><a href="index.html" title="India">India</a></li><li class="inner-country-reg"><a href="index.html" title="Spain">Spain</a></li><li class="inner-country-reg"><a href="index.html" title="Japan">Japan</a></li><li class="inner-country-reg"><a href="index.html" title="Mexico">Mexico</a></li><li class="inner-country-reg"><a href="index.html" title="Portugal">Portugal</a></li><li class="inner-country-reg"><a href="index.html" title="Brazil">Brazil</a></li><li class="inner-country-reg"><a href="index.html" title="Italy">Italy</a></li><li class="inner-country-reg"><a href="index.html" title="Germany">Germany</a></li><li class="inner-country-reg"><a href="index.html" title="France">France</a></li></ul>
                <p><small>All third party brands and logos are the registered trademarks of their respected owners. This website is neither affiliated nor part of any of the network operators / handset manufacturers detailed on our website.</small></p>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="footer-end">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <p>&copy; 2020 testingphone.com</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <ul class="list-inline text-center center-block">
                    <li>
                        <a href="index.html" title="Terms and Conditions">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="index.html" title="Privacy Policy">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" title="Site Map">Site Map</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="dmca">

                </div>
                <ul class="list-inline pull-right hidden">
                    <li>
                        <a href="" title="" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" title="" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>