@model IEnumerable<DeviceModel>

@{
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Device Model</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home /</a></li>
                    <li><a href="/Admin/DeviceModel/index">Device Model</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6"><div class="text-left"><strong class="card-title">Device Model list</strong></div></div>
                                <div class="col-md-6"><div class="text-right"><a href="/Admin/DeviceModel/create" class="btn btn-outline-primary">Add New</a></div></div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th hidden>#</th>
                                        <th>Name</th>
                                        <th>Image</th>
                                        <th>Brand</th>
                                        <th>Feature Status</th>
                                        <th>Actions</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td hidden>@item.Id</td>
                                            <td>@item.Name</td>
                                            <td><img src="@Url.Content(item.Image)" style="height:50px;" /></td>
                                            <td>@item.Brand?.Name</td>
                                            <td>
                                                @if (item.IsFeatured)
                                                {
                                                    <a href="/Admin/DeviceModel/ChangeFeaturedStatus?id=@item.Id" class="btn btn-success">Featured</a>
                                                }
                                                else
                                                {
                                                    <a href="/Admin/DeviceModel/ChangeFeaturedStatus?id=@item.Id" class="btn btn-danger">Not Featured</a>
                                                }
                                            </td>
                                            <td>
                                                <a href="/Admin/DeviceModel/Edit?id=@item.Id" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                                <a href="/Admin/DeviceModel/Delete?id=@item.Id" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</div>