<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year - VeeUnlock.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>Template by <a href="http://adminlte.io">AdminLTE.io</a></b> 
    </div>
</footer>