@model Unlockd.Domain.Entities.Services.FAQ
@{
    ViewData["Title"] = "Create";
}
@Html.AntiForgeryToken()

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>FAQ</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home /</a></li>
                    <li><a href="/Admin/FAQ/index">FAQ</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Add new FAQ</strong>
                        </div>
                        <div class="card-body">
                            <form href="/Admin/FAQ/Create" method="post">
                                <div class="form-group">
                                    <label class=" form-control-label">Question</label>
                                    <input type="text" asp-for="Question" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Answer</label>
                                    <input type="text" asp-for="Answer" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    <a href="/Admin/FAQ/index" class="btn btn-warning">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>