@model CarrierIndexViewModel
<a class="navitem-text"  href="#open-cart"> <i><img class="img-circle" src="@Url.Content(Model.Country.FlagIcon)" height="20" /></i>-@Model.Country.DisplayName <i class="icon ion-android-arrow-dropdown"></i></a>

