@model BlogPostViewModel

@{
    ViewData["Title"] = "Create";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Blog Post</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home /</a></li>
                    <li><a href="/Admin/BlogPost/index">Blog Post</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="content">
    <div class="animated fadeIn">
        <div class="card">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Add new Blog Post</strong>
                        </div>
                        <div class="card-body">
                            <form asp-controller="BlogPost" asp-action="Create" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="PrimaryImage" />
                                <div class="form-group">
                                    <label class=" form-control-label">Blog Category</label>
                                    <select asp-for="BlogCategoryId" class="form-control" asp-items="ViewBag.catlist"></select>
                                    <span asp-validation-for="BlogCategoryId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Title</label>
                                    <input type="text" asp-for="Title" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Short Description</label>
                                    <input type="text" asp-for="ShortDescription" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Blog primary image</label>
                                    <input type="file" asp-for="PrimaryImageFile" class="form-control dropify" required>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Description</label>
                                    <textarea asp-for="Description" class="summernote"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save</button>
                                    <a asp-controller="BlogPost" asp-action="Index" class="btn btn-warning">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        $(document).ready(function () {
            $('.dropify').dropify();
            $('.summernote').summernote({
                tabsize: 2,
                height: 500
            });
        });

    </script>
}