
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="trust-pilot">
                    <div class="trust-pilot-wrap">
                        <div class="trust-pilot-img">
                            <img src="~/images/trustpilot.png" />
                        </div>
                        <div class="trust-pilot-body">
                            <p class="trust-pilot-rating">
                                4.8
                            </p>
                            <div class="trust-pilot-star">
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                                <span><i class="icon ion-star"></i></span>
                            </div>
                            <p class="trust-pilot-review">Out of 1500 reviews</p>
                            <br />
                            <button type="submit" class="btn btn-link review-btn">Review</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="carousel tp-carosel" data-count="2" data-current="1">
                    <div class="items">
                        <div class="item active" data-marker="1" data-aos="fade-left"
                             data-aos-duration="2000">
                            <img src="~/Contents/assets/img/carousel/bckg.jpg" alt="Background" class="background" data-marker="1" data-aos="fade-left"
                                 data-aos-duration="2000" />

                            <div class="content">
                                <div class="outside-content">
                                    <div class="row">
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-marker="2" data-aos="fade-left"
                             data-aos-duration="2000">
                            <img src="~/Contents/assets/img/carousel/bckg.jpg" alt="Background" class="background" data-marker="1" data-aos="fade-left"
                                 data-aos-duration="2000" />

                            <div class="content">
                                <div class="outside-content">
                                    <div class="row">
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Helped when provider couldn't
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Brilliant service unlocking my Samsung Galaxy S8 within 3 hours of purchase. Considering I had been doing battle with Vodafone for the exact same service for well over a month this service worked perfectly.
                                            </p>
                                            <p class="tp-cmt-name">
                                                Stave
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                        <div class="col-sm-6 content-top">
                                            <div class="tp-star">
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                                <span><i class="icon ion-star"></i></span>
                                            </div>
                                            <h2 class="tp-cmt-title" data-marker="1">
                                                Ordered a unlock code for Vodafone and...
                                            </h2>
                                            <p class="tp-cmt-para">
                                                Ordered a unlock code for Vodafone and I received it within 2 hours after the purchase. Amazing Service !!
                                            </p>
                                            <p class="tp-cmt-name">
                                                Waheed Hussain
                                                <br />
                                                <small>4/15/2021 10:14:02 AM</small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="markers">
                        <li data-marker="1" class="active"></li>
                        <li data-marker="2"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>