<div class="container">
    <div class="row" style="width: 100%;">

        <div class="col-md-12 col-xs-12 text-center">
            <h3 class="h4">Check your mobile with IMEI number.</h3>
            <a class="btn btn-primary btn-square btn-sm" href="/Phonecheck/Index">IMEI CHECKS..</a>
        </div>
        <div class="col-md-3">
            <div class='row'>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="mm-icon">
                            <img src="~/Contents/assets/img/icons/networkicon.png" height="50" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class='mm-header'>
                            <h3><a asp-area="" asp-controller="PhoneCheck" asp-action="CarrierCheck">Carrier Check</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class='row'>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="mm-icon">
                            <img src="~/Contents/assets/img/icons/block-icon.jpg" height="50" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class='mm-header'>
                            <h3><a asp-area="" asp-controller="PhoneCheck" asp-action="BlackListedCheck">Blacklisted Check</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class='row'>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="mm-icon">
                            <img src="~/Contents/assets/img/icons/clould.png" height="50" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class='mm-header'>
                            <h3><a asp-area="" asp-controller="PhoneCheck" asp-action="IcloudActivation">iCloud Activation</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class='row'>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class="mm-icon">
                            <img src="~/Contents/assets/img/icons/sprinticon.png" height="50" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">
                        <div class='mm-header'>
                            <h3><a asp-area="" asp-controller="PhoneCheck" asp-action="SprintStatus">Sprint Status Check</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>