
@{
    Layout = null;
}

<html lang="en">
<body>
    <div style="display: inline-block;">
        <span style="display:block;margin-bottom:6px"><b>Name: {studentName}</b></span>
        <span style="display:block;margin-bottom:6px"><b>Date of Birth: {dateOfBirth}</b></span>
    </div>

    <div>
        <p style="font-size:14px;line-height:1.3">
            I agree to SMS Higher Education Group(SMSHEG) processing personal data contained in this form or
            other data which SMSHEG may obtain from other people.I agree to the processing of such data for any
            purposes connected with my University Admission or any legitimate reason including communication

            with me following the completion of my admission.In addition, I agree to SMSHEG processing personal

            data described as Special Category Data as defined under the General Data Protection Regulation, such

            processing to be undertaken for any purposes as indicated in the declaration above.In addition to the

            Privacy Notice linked to this form please also see our Corporate Privacy Policy on our website -

            <a href=" https: //smsheg.co.uk/privacypolicy/"> https://smsheg.co.uk/privacypolicy. </a>
        </p>

    </div>
    <div> 
        <ol>

            <li> I understand and accept this statement.</li>

            <li>
                I have submitted all documents relevant to my application including all qualifications studied

                either in the UK or overseas.
            </li>

            <li>
                I Certify that the qualifications submitted for admission purpose is my own and I have given

                permission to verify them.I understand that false declaration is from malpractice.
            </li>

            <li>
                My contact information is up - to - date and will inform the university I apply to of any change, and

                I will notify the University promptly of any changes to the information which I have submitted

                an application or enrolment.
            </li>

            <li>
                I have read and understood the Student Finance England eligibility criteria and application

                Process
            </li>

            <li>
                I understand that by applying through Student Finance England to finance my studies that I must

                declare my highest level of qualification either in the UK and / or overseas and provide accurate

                and honest information for my application.
            </li>

            <li> I have declared my full employment history and my C.V is up - to - date </li>

            <li>
                I have personally written my Personal Statement / Statement of Purpose and I am wholly

                responsible for its contents.
            </li>

            <li> I confirm my email address is accurate and can be considered as my signature.</li>

        </ol>

    </div>
    <span style="display:block;margin-bottom:6px"><b>Student Email: {studentEmail}</b></span>
    <span style="display:block;margin-bottom:6px;background-color: chartreuse;"><b>Consent Status: Signed</b></span>
    <span style="display:block;margin-bottom:6px"><b>Date: {DateTime.Now}</b></span>
    <span style="display:block;margin-bottom:6px"><b>IP: {info.Ip}</b></span>
</body>
</html>

@*<html lang=" en"=">
    <head>
    </head>
    <body style=" margin:50px=" 90px=" 90px;"=">
        <div style=" display:=" inline-block;"=">
            <span style="
        margin-bottom: 6px;
        display: block;
    "><b>Name:{studentName}</b></span>
            <span><b>Date of Birth:{dateOfBirth}</b></span>
        </div>

        <div style=" display:=" inline-block;=" margin-left:=" 900px;"=">

            <img src=" {profimg}"=" style=" height:=" 100px;"=">
        </div>
        <div style=">

            <p style="
        font-size: 14px;
        line-height: 1.3;
    ">
                I agree to SMS Higher Education Group(SMSHEG) processing personal data contained in this form or
                other data which SMSHEG may obtain from other people.I agree to the processing of such data for any
                purposes connected with my University Admission or any legitimate reason including communication

                with me following the completion of my admission.In addition, I agree to SMSHEG processing personal

                data described as Special Category Data as defined under the General Data Protection Regulation, such

                processing to be undertaken for any purposes as indicated in the declaration above.In addition to the

                Privacy Notice linked to this form please also see our Corporate Privacy Policy on our website -

                <a href=" https:=" smsheg.co.uk=" privacypolicy=" " ="> https://smsheg.co.uk/privacypolicy. </a>
            </p>

        </div>

        <div>

            <ol>

                <li> I understand and accept this statement.</li>

                <li>
                    I have submitted all documents relevant to my application including all qualifications studied

                    either in the UK or overseas.
                </li>

                <li>
                    I Certify that the qualifications submitted for admission purpose is my own and I have given

                    permission to verify them.I understand that false declaration is from malpractice.
                </li>

                <li>
                    My contact information is up - to - date and will inform the university I apply to of any change, and

                    I will notify the University promptly of any changes to the information which I have submitted

                    an application or enrolment.
                </li>

                <li>
                    I have read and understood the Student Finance England eligibility criteria and application

                    Process
                </li>

                <li>
                    I understand that by applying through Student Finance England to finance my studies that I must

                    declare my highest level of qualification either in the UK and / or overseas and provide accurate

                    and honest information for my application.
                </li>

                <li> I have declared my full employment history and my C.V is up - to - date </li>

                <li>
                    I have personally written my Personal Statement / Statement of Purpose and I am wholly

                    responsible for its contents.
                </li>

                <li> I confirm my email address is accurate and can be considered as my signature.</li>

            </ol>

        </div>
        <span><b>Student Email:{studentEmail}</b></span>
        <span><span style=" background-color:=" chartreuse;"="><b>Consent Status: Signed</b></span></span>
        <span style="
        display: block;
        margin-bottom: 6px;
    "><b>Time &amp; amp;Date:{DateTime.Now}</b></span>
        <span style="
        display: block;
    "><b>IP:{info.Ip}</b></span>

    </body>
    </html>*@