
@{
    ViewData["Title"] = "Index";
}

<hr class="offset-lg">
<hr class="offset-lg">
<div>
    <div class="container">
        <div class="breadcrumb">
            <div class="breadcrumb-item"><p><a href="/Home/Index">Home </a>/ IMEI Check</p></div>
            <div class="breadcrumb-item"><h3><b>IMEI CHECKS</b></h3></div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="unlock-online">
            <div class="unlock-online-func">
                <div class="func-form">

                    <div class="row" style="width: 100%;">
                        <div class="col-md-3">
                            <a href="/PhoneCheck/Carriercheck">
                                <div class='row'>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class="mm-icon">
                                                <img src="~/Contents/assets/img/icons/networkicon.png" height="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class='mm-header'>
                                                <h3><a href="/PhoneCheck/Carriercheck" class="btn btn-primary btn-square black">Network check</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="/PhoneCheck/BlackListedCheck">
                                <div class='row'>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class="mm-icon">
                                                <img src="~/Contents/assets/img/icons/block-icon.jpg" height="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class='mm-header'>
                                                <h3><a href="/PhoneCheck/BlackListedCheck" class="btn btn-primary btn-square black">Blacklist check</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/PhoneCheck/BlackListedCheck">
                                <div class='row'>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class="mm-icon">
                                                <img src="~/Contents/assets/img/icons/clould.png" height="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class='mm-header'>
                                                <h3><a href="/PhoneCheck/IcloudActivation" class="btn btn-primary btn-square black">iCloud activation check</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="/PhoneCheck/BlackListedCheck">
                                <div class='row'>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class="mm-icon">
                                                <img src="~/Contents/assets/img/icons/sprinticon.png" height="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="text-center">
                                            <div class='mm-header'>
                                                <h3><a href="/PhoneCheck/SprintStatus" class="btn btn-primary btn-square black">Sprint status check</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <br />
                <br />
                <h2 data-aos="fade-up"
                    data-aos-duration="2000">
                    How to get your phone’s IMEI number
                </h2>
                <br>
                <p class="lead" data-aos="fade-down"
                   data-aos-duration="2000">All mobile phone devices have a unique IMEI number (short for International Mobile Equipment Identity). This important piece of information is useful for a number of reasons, such as unlocking or blacklisting a phone if it has been stolen.</p>
                <br />
                <p>
                    <small>
                        You can also find out information about your device using your IMEI number, including the brand or model. Checking your IMEI number online is super easy and a useful tool.
                    </small>
                </p>
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="text-center" style="padding:10px">
                    <div style="border:solid 5px;border-color:#adadad;min-height:250px;max-height:300px">
                        <div style="background-color:#445667"><h2 style="color:white"><b>1</b></h2></div>
                        <p class="lead light">From the device you need to retrieve the IMEI number by dialing *#06# on the keypad</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="text-center" style="padding:10px">
                    <div style="border:solid 5px;border-color:#adadad;min-height:250px;max-height:300px">
                        <div style="background-color:#445667"><h2 style="color:white"><b>2</b></h2></div>
                        <p class="lead light">Once you have dialled this number, your 15 digit IMEI number will appear on the screen.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="text-center" style="padding:10px">
                    <div style="border:solid 5px;border-color:#adadad;min-height:250px;max-height:300px">
                        <div style="background-color:#445667"><h2 style="color:white"><b>3</b></h2></div>
                        <p class="lead light">
                            Write the 15 digit number which is displayed down and keep it in a safe place.

                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-12" data-aos="zoom-in"
                 data-aos-duration="2000">
                <div class="text-center" style="padding:10px">
                    <div style="border:solid 5px;border-color:#adadad;min-height:250px;max-height:300px">
                        <div style="background-color:#445667"><h2 style="color:white"><b>4</b></h2></div>
                        <p class="lead light">
                            You can retrieve this number from your iPhone an unlimited amount of times.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="text-center" data-aos="zoom-in"
                 data-aos-duration="2000">
                <h2 class="">Why we are the best Phone unlocking service.</h2>
                <p class="lead">Our IMEI unlocking methods are safe, trusted &amp; recommended by Apple as the best way to unlock your Phone without invalidating the warranty.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 xs-text-center">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="text-center" style="padding-top:20px;">
                            <img src="~/Contents/assets/img/wifisign.PNG" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <h3>Remote Phone unlock service</h3>
                        <br>
                        <p>We unlock Phones remotely, this means you can continue using your Phone as normal whilst we complete the unlock in the background. We’ll never ask for personal login details.</p>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="text-center" style="padding-top:20px;">
                            <img src="~/Contents/assets/img/unlocksign.PNG" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <h3>Permanent &amp; Secure Unlock</h3>
                        <br>
                        <p>By whitelisting your device in Apple’s database, it will be permanently unlocked for use on any network worldwide. The performance, security & outstanding Phone warranty is not affected!</p>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 xs-text-center">
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="text-center" style="padding-top:20px;">
                            <img src="~/Contents/assets/img/clocksign.PNG" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <h3>24 hr Delivery & Dedicated Customer Service</h3>
                        <br>
                        <p>Most of our Phone unlocks take less than 24 hours! Wiith live order tracking and a dedicated customer support team, our unlocking service provides real convenience and peace of mind.</p>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="text-center" style="padding-top:20px;">
                            <img src="~/Contents/assets/img/tagsign.PNG" />
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9 col-xs-12">
                        <h3>Great Value for Money</h3>
                        <br>
                        <p class="pb-5">We offer one of the cheapest yet most trusted Phone unlock services out there.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
